.container{
    text-align: center;
    background-color: rgb(240, 240, 240);
}
form {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 20px;
    font-family: Arial, sans-serif;
    margin-left: 30%;
    gap: 10px;
}

label {
    margin-right: 10px;
    /* width: 80px; */
    font-weight: bold;
}
input[type="text"]{
font-size: 15px;
}
input[type="number"]{
    font-size: 15px;
    }
input[type="submit"] {
    background-color: rgb(209, 71, 47);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #f5786b;
}